<!--========== FOOTER ==========-->
        <footer class="footer">
            <!-- Links -->
            <div class="footer-seperator">
                <div class="content-lg container">
                    <div class="row">
                        <div class="col-sm-2 sm-margin-b-50">
                            <!-- List -->
                            <ul class="list-unstyled footer-list">
                                <li class="footer-list-item"><a class="footer-list-link" href="{:url('/')}">首页</a></li>
                                {iwebsite:list table="column" value="v" key="i" where='parentid = 0 and level = 1 and status = 1' order='sort desc' limit='5' page='false'}
                                <li class="footer-list-item"><a class="footer-list-link" href="{:url('/column/'.$v['id'])}">{$v['name']}</a></li>
                                {/iwebsite:list}
                            </ul>
                            <!-- End List -->
                        </div>
                        <div class="col-sm-4 sm-margin-b-30">
                            <!-- List -->
                            <ul class="list-unstyled footer-list">
                                {iwebsite:list table="link" value="v" key="i" where='status = 1' order='sort desc' limit='5' page='false'}
                                <li class="footer-list-item"><a class="footer-list-link" href="{$v['url']}">{$v['name']}</a></li>
                                {/iwebsite:list}
                            </ul>
                            <!-- End List -->
                        </div>
                        <div class="col-sm-5 sm-margin-b-30">
                            <form action="{:url('/home/feedback/index')}" method="post">
                            <h2 class="color-white">Send Us A Note</h2>
                            <input type="text" class="form-control footer-input margin-b-20" name="title" placeholder="title" required>
                            <input type="text" class="form-control footer-input margin-b-20" name="name" placeholder="name" required>
                            <input type="text" class="form-control footer-input margin-b-20" name="call" placeholder="Phone" required>
                            <textarea class="form-control footer-input margin-b-30" rows="6" name="content" placeholder="content" required></textarea>
                            <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Submit</button>
                            </form>
                        </div>
                    </div>
                    <!--// end row -->
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="content container">
                <div class="row">
                    <div class="col-xs-6">
                        <img class="footer-logo" src="__STATIC__/img/logo.png" alt="Asentus Logo">
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="margin-b-0">{$copyright['copyright']}</p>
                    </div>
                </div>
                <!--// end row -->
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

<!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- CORE PLUGINS -->
<script src="__STATIC__/vendor/jquery.min.js" type="text/javascript"></script>
<script src="__STATIC__/vendor/jquery-migrate.min.js" type="text/javascript"></script>
<script src="__STATIC__/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<!-- PAGE LEVEL PLUGINS -->
<script src="__STATIC__/vendor/jquery.easing.js" type="text/javascript"></script>
<script src="__STATIC__/vendor/jquery.back-to-top.js" type="text/javascript"></script>
<script src="__STATIC__/vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
<script src="__STATIC__/vendor/jquery.wow.min.js" type="text/javascript"></script>
<script src="__STATIC__/vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
<script src="__STATIC__/vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
<script src="__STATIC__/vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>

<!-- PAGE LEVEL SCRIPTS -->
<script src="__STATIC__/js/layout.min.js" type="text/javascript"></script>
<script src="__STATIC__/js/components/wow.min.js" type="text/javascript"></script>
<script src="__STATIC__/js/components/swiper.min.js" type="text/javascript"></script>
<script src="__STATIC__/js/components/masonry.min.js" type="text/javascript"></script>
<script>
    $(function(){
        $('button[type=submit]').click(function(){
            if ($('input[name=title]').val() == '') {
                alert('标题不能为空');
                return false;
            }
            if ($('input[name=name]').val() == '') {
                alert('姓名不能为空');
                return false;
            }
            if ($('input[name=call]').val() == '') {
                alert('联系方式不能为空');
                return false;
            }
            if ($('input[name=content]').val() == '') {
                alert('内容不能为空');
                return false;
            }
        });
    })
</script>
    </body>
    <!-- END BODY -->
</html>